.form-control{
  font-size: 1em;
    font-weight: bold;

    &::placeholder{
      font-weight: normal;
    }
}
.main-secion{
  width: 1200px;
  margin: 100px auto;
}

table tbody tr.clickable-row{
  cursor: pointer;
}

div.search-forms{
  margin-bottom: 20px;
  margin-left: -0.25rem !important;
}

div.afficher-elements{
  margin: 15px 0;
}

div.crud-buttons{
  margin: 30px 0;
  
  form,a{
    display: inline-block;
    margin-right: 15px;
  }
}

td.details-control {
  background: url('../img/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../img/details_close.png') no-repeat center center;
}

table.child-row{
  width: 100%;

  input{
    padding: 5px;
    width: 100%;
  }

  .child-row-label{
    font-weight: bold;
  }
}

tr.modifier-fournisseur-tr{
  td:first-child{
    padding: 20px 0;
  }
}

div.ajouter-contact-btn{
  padding-top: 35px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}

input.adresse-input{
  margin-bottom: 10px;
}

i.fournisseur-delete-icon, i.contact-delete-icon{
  font-size: 1.3em;
  color: red;
}

i.fournisseur-delete-icon,
i.contact-delete-icon,
i.contact-edit-icon{
  cursor: pointer;
}

.modifier-contact-btn{
  padding: 5px 15px;
  margin: 0;
}

input[type="text"]{
  padding-left: 8px;
  padding-right: 8px; 
}

.contacts-container tbody tr td input{
  width: 150px;
}

table.contact-table{
  width:100%;
  margin-bottom:30px;
  tbody tr{
    background-color: darken(#428bca, 6.5%);
  }
  i.contact-edit-icon{
    color: rgb(10, 73, 26);
  }
}