.form-control{
  font-size: 1em;
    font-weight: bold;

    &::placeholder{
      font-weight: normal;
    }
}
.main-secion{
  width: 1200px;
  margin: 100px auto;
}

table tbody tr.clickable-row{
  cursor: pointer;
}

div.search-forms{
  margin-bottom: 20px;
  margin-left: -0.25rem !important;
}

div.afficher-elements{
  margin: 15px 0;
}

div.crud-buttons{
  margin: 30px 0;
  
  form,a{
    display: inline-block;
    margin-right: 15px;
  }
}